--- 
import { House, User, Folder, Send } from '@lucide/astro';

// Get the current path
const currentPath = Astro.url.pathname;
--- 

<nav class="w-full h-full flex flex-row lg:flex-col gap-8 lg:gap-5 items-center lg:items-end justify-around lg:justify-center muted p-6"> 
    <a href="/" aria-label="Home" class="relative hover:text-blue-700 flex items-center gap-2" class:list={[currentPath === '/' && 'text-blue-700']}> 
        <House size={20} /> 
    </a> 
    <a href="/about" aria-label="About" class="relative hover:text-blue-700 flex items-center gap-2" class:list={[currentPath === '/about' && 'text-blue-700']}> 
        <User size={20} /> 
    </a> 
    <a href="/projects" aria-label="Projects" class="relative hover:text-blue-700 flex items-center gap-2" class:list={[currentPath === '/projects' && 'text-blue-700']}> 
        <Folder size={20} /> 
    </a> 
    <a href="/contact" aria-label="Contact" class="relative hover:text-blue-700 flex items-center gap-2" class:list={[currentPath === '/contact' && 'text-blue-700']}> 
        <Send size={20} /> 
    </a>                                             
</nav>
