<div class="relative">
    <div class="hidden md:block h-[50vh] mb-10"></div>
    <div class="md:px-6 sticky top-5">
        <div class="relative mb-4">
            <div class="rounded-xl card border-[1.5px] border-black/20 dark:border-white/20 p-4 flex flex-col gap-3">
                <div class="flex items-center gap-2">
                    <img
                        src="https://avatars.githubusercontent.com/u/159816543?v=4"
                        alt="Profile"
                        class="w-12 h-12 rounded-full object-cover avatar-border"
                    />
                    <div>
                        <p class="text-sm font-medium theme-text">
                            Nick Luca (@kcindev)
                        </p>
                        <p class="text-xs muted">
                            Software dev, college student
                        </p>
                    </div>
                </div>

                <p class="text-xs muted leading-relaxed">
                    I'm a Computer Science student building hands-on experience in full-stack development, automation, systems administration, and IT infrastructure. If I'm not working on my homelab or coding, I'm probably being your toxic ranked teammate or editing.
                </p>

                <div class="flex gap-3 pt-1">
                   <a href="https://discord.com/users/195712965536776192"><i class="fa-brands fa-discord" class="muted hover:theme-text transition"></i></a>
                   <a href="https://github.com/kcindev"><i class="fa-brands fa-github" class="muted hover:theme-text transition"></i></a>
                   <a href="https://instagram.com/nicklluca_/"><i class="fa-brands fa-instagram" class="muted hover:theme-text transition"></i></a>
                   <a href="https://linkedin.com/in/kcindev/"><i class="fa-brands fa-linkedin" class="muted hover:theme-text transition"></i></a>
                </div>
            </div>
            </div>
        <p class="text-xs pt-3 pb-1">Some things are best viewed without a rulebook</p>
        <p class="text-xs pb-3 muted">&copy;2026 Nick L. Made with Astro & TailwindCSS</p>
    </div>
</div>
